/* main layout */
html
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #eaeaea;
}

a, a:visited
{
    color: #000000;
}

.page-box {
	border-width: 0px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11pt;
	top: 4px;
	bottom: 4px;
	width: 960px;
	margin: 0px auto;
	box-shadow: 0px 0px 10px 0px #333333;
	background-color: #ffffff;
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
}

#header-link-group
{
    line-height: 0;
    font-size: 0;
	background-image: linear-gradient(bottom, rgb(34,34,38) 9%, rgb(49,49,51) 55%, rgb(68,68,71) 78%);
	background-image: -o-linear-gradient(bottom, rgb(34,34,38) 9%, rgb(49,49,51) 55%, rgb(68,68,71) 78%);
	background-image: -moz-linear-gradient(bottom, rgb(34,34,38) 9%, rgb(49,49,51) 55%, rgb(68,68,71) 78%);
	background-image: -webkit-linear-gradient(bottom, rgb(34,34,38) 9%, rgb(49,49,51) 55%, rgb(68,68,71) 78%);
	background-image: -ms-linear-gradient(bottom, rgb(34,34,38) 9%, rgb(49,49,51) 55%, rgb(68,68,71) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222226', endColorstr='#444447'); /* for IE */
}

    #header-link-group div
    {
        font-size: 11pt;
        line-height: normal;
	    border-left: 1px;
	    border-left-style: solid;
	    border-left-color: #333333;
	    border-right: 1px;
	    border-right-style: solid;
	    border-right-color: #000000;
	    background-color: transparent;
	    padding: 5px 9px 5px 9px;
	    display: inline-block;
    }

    #header-link-group .trial
    {
        background-color: #e80c4d;
    }

        #header-link-group .trial:hover
        {
            background-color: #9b0b35;
        }

        #header-link-group .trial a, #header-link-group .trial a:visited
        {
            color: #000000;
        }

    #header-link-group div:hover
    {
	    background-color: #000000;
    }

        #header-link-group div a, #header-link-group div a:visited
        {
	        color: #CCCCCC;
	        text-decoration: none;
        }
       
#footer
{
    background-color: #454545;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	font-size: 9pt;
	color: #cccccc;
}

    #footer a, #footer a:visited
    {
	    color: #CCCCCC;
	    text-decoration: none;
	    cursor: pointer;
	    padding-left: 6px;
	    padding-right: 6px;
    }

    #footer a:hover
    {
	    text-decoration: underline;
    }

    #footer div
    {
        text-align: center;
        padding: 3px;
    }
    
.text-material 
{
    font-family: 'Open Sans';
    font-size: 10pt;
}

.text-material-heading
{
    font-family: 'Open Sans';
    font-size: 14pt;
    font-weight: 300;
}

mark
{
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix:after
{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6
{
    color: #000;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 3px;
    margin-top: 0;
    font-weight: 300
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.75em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

img
{
    border: 0px;
}

input[type="submit"]
{
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Open Sans', Arial;
    font-weight: 300;
    padding: 7px;
}

.separator
{
    background-clip: border-box;
    background-image: url("/Images/Patterns/separator.gif");
    background-repeat: repeat;
    margin-top: 13px;
    margin-bottom: 13px;
    width: 100%;
    background-origin: padding-box;
    height: 7px;
    display: block;
}

/* login
----------------------------------------------------------*/
#login
{
    display: block;
    font-size: .85em;
    margin: 20px 0 12px;
    text-align: right;
}

    #login a
    {
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username
        {
            background: none;
            margin-left: 0px;
            text-decoration: underline;
        }

    #login ul
    {
        margin: 0;
    }

    #login li
    {
        /*display: inline;*/
        list-style: none;
    }

/* page elements
----------------------------------------------------------*/
/* featured */
.featured
{
    background-color: #fff;
}

    .featured .content-wrapper
    {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2
    {
        color: #fff;
    }

    .featured p
    {
        font-size: 1.1em;
    }

.green-quote
{
    color: green;
}

.red-quote
{
    color: #ad2222;
}

/* page titles */
hgroup.title
{
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2
    {
        display: inline;
    }

    hgroup.title h2
    {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature
{
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round
{
    list-style-type: none;
    padding-left: 0;
}

    ol.round li
    {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero
        {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one
        {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two
        {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three
        {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four
        {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five
        {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six
        {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven
        {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight
        {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine
        {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article
{
    float: left;
    width: 70%;
}

aside
{
    float: right;
    width: 25%;
}

    aside ul
    {
        list-style: none;
        padding: 0;
    }

        aside ul li
        {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

label
{
    font-weight: 500;
    display: block;
    font-size: 1.2em;
}

    label.checkbox
    {
        display: inline;
    }

input[type="text"],
input[type="password"],
select
{
    border: 1px solid #e2e2e2;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus
{
    border: 1px solid #7ac0da;
}

/* login page */
#loginForm
{
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 45%;
}

    #loginForm .validation-error
    {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm
{
    margin-left: 40px;
    float: left;
    width: 50%;
}

/* contact */
.contact h3
{
    font-size: 1.2em;
}

.contact p
{
    margin: 5px 0 0 10px;
}

.contact iframe
{
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset
{
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend
    {
        display: none;
    }

    fieldset ol
    {
        padding: 0;
        list-style: none;
    }

        fieldset ol li
        {
            padding-bottom: 5px;
        }

/* info and errors */
.message-table
{
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
}
.message-info
{
    background: url("/Images/info.png") no-repeat;
    border: none;
    clear: both;
    padding: 0px 0px 0px 40px;
    min-height: 36px;
    vertical-align: middle;
    display: table-cell;
    margin: 0px auto;
}

.message-error
{
    background: url("/Images/error.png") no-repeat;
    border: 1px solid;
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px 0 10px 0;
}

.message-success
{
    background: url("/Images/success.png") no-repeat;
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error
{
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error
{
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error,
select.input-validation-error
{
    border: 1px solid #e80c4d;
}

.validation-summary-errors
{
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid
{
    display: none;
}

ul#social li
{
    display: inline;
    list-style: none;
}

    ul#social li a
    {
        color: #999;
        text-decoration: none;
    }

/* content box (Metro style boxes) */
.box-table
{
    width: 100%;
    table-layout: fixed;
}

    .box-table td
    {
        padding: 8px;
    }

    .box-table div
    {
        padding: 10px;
        height: 100%;
        -webkit-transition: background-color 0.3s ease-in;  
        -moz-transition: background-color 0.3s ease-in;  
        -o-transition: background-color 0.3s ease-in;  
        transition: background-color 0.3s ease-in; 
    }

        .box-table div:hover
        {
            cursor: pointer;
        }

    .box-table .box-heading
    {
        font-family: 'Open Sans';
	    font-size: 19pt;
	    font-weight: 300;
    }