@using WebSite.Controllers
@{
    ViewBag.Title = "Real-time Market News";
}
@section Styles
{
    <style type="text/css">
        #feedback
        {
            font-size: 10pt;
        }

        #selectable .ui-selecting
        {
            background: #FECA40;
        }

        #selectable .ui-selected
        {
            background: #F39814;
            color: white;
        }

        #selectable
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

            #selectable li
            {
                margin: 3px;
                padding: 0.4em;
                font-size: 10pt;
                height: 12px;
            }

        .odd-row
        {
            background-color: #deeffc;
        }

            .odd-row > td
            {
                padding-top: 2px;
                padding-bottom: 2px;
            }

        .even-row > td
        {
            padding-top: 7px;
            padding-bottom: 7px;
        }

        .ui-button-text 
        {
            font-size: 8pt;
        }

        .settings-background 
        {
            background: rgb(216,216,216); /* Old browsers */
            background: -moz-linear-gradient(top,  rgba(216,216,216,1) 0%, rgba(191,191,191,1) 49%, rgba(226,226,226,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,216,216,1)), color-stop(49%,rgba(191,191,191,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(216,216,216,1) 0%,rgba(191,191,191,1) 49%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(216,216,216,1) 0%,rgba(191,191,191,1) 49%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(216,216,216,1) 0%,rgba(191,191,191,1) 49%,rgba(226,226,226,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(216,216,216,1) 0%,rgba(191,191,191,1) 49%,rgba(226,226,226,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
        }
    </style>
}
@section Scripts
{
    @Scripts.Render("~/bundles/market-radar")
    @Scripts.Render("~/bundles/upshot", "~/signalr/hubs", "~/bundles/jqueryui")
}
@section Footer
{
Quotes may be delayed. Data partially provided by TheFlyOnTheWall.com
}
<table style="width: 100%;"><tr><td><h2 style="display: inline-block;">Real-time Market Radar</h2></td><td style="text-align: right;"><div id="status-div" style="font-size: 9pt; color: #73cb6f; vertical-align: middle;">Initializing...</div></td></tr></table>
<div class="ui-widget-header ui-corner-all settings-background" style="padding: 4px 4px; font-size: 9pt; display:none;" id="settings-div">
    <table style="width: 100%;">
        <tr>
            <td style="width: 70%;">Categories</td>
            <td style="width: 30%; text-align: center;">Brokerage Recommendations</td>
        </tr>
        <tr>
            <td style="text-align: justify;">
                <input type="checkbox" class="category" data-filter-name="Hot Stocks" id="hot-stocks" /><label for="hot-stocks">Hot Stocks</label>
                <input type="checkbox" class="category" data-filter-name="General News" id="general-news" /><label for="general-news">General News</label>
                <input type="checkbox" class="category" data-filter-name="Earnings" id="earnings" /><label for="earnings">Earnings</label>
                <input type="checkbox" class="category" data-filter-name="Recommendations" id="recommendations" /><label for="recommendations">Recommendations</label>
                <input type="checkbox" class="category" data-filter-name="Syndicate" id="offerings" /><label for="offerings">Offerings</label>
            </td>
            <td>
                <input type="checkbox" class="category" data-filter-name="Rec-Upgrade" id="upgrades" /><label for="upgrades">Upgrades</label>
                <input type="checkbox" class="category" data-filter-name="Rec-Downgrade" id="downgrades" /><label for="downgrades">Downgrades</label>
                <input type="checkbox" class="category" data-filter-name="Rec-Initiate" id="initiations" /><label for="initiations">Initiations</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" class="category" data-filter-name="Technical Analysis" id="technical-analysis" /><label for="technical-analysis">Technical Analysis</label>
                <input type="checkbox" class="category" data-filter-name="Periodicals" id="periodicals" /><label for="periodicals">Periodicals</label>
                <input type="checkbox" class="category" data-filter-name="Options" id="options" /><label for="options">Options</label>
                <input type="checkbox" class="category" data-filter-name="Conference/Events" id="conference" /><label for="conference">Conference/Events</label>
                <input type="checkbox" class="category" data-filter-name="Rumors" id="rumors" /><label for="rumors">Rumors</label></td>
            <td></td>
        </tr>
        <tr>
            <td>Display Options</td><td style="text-align: center;">Search</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" class="option" id="show-quotes" /><label for="show-quotes">Show Quotes</label>
                <input type="checkbox" class="option" id="color-code" /><label for="color-code">Show Stock Performance Color Coding</label>
            </td>
            <td style="text-align: center;">
                <input type="text" id="search-text-input" style="font-family: inherit; font-size: 8pt; width: 150px; line-height: inherit; margin-right: 10px;" /><button id="clear-search-button">Clear Search</button>
            </td>
        </tr>
    </table>
</div>
<div style="float: right; padding: 0px;"><input type="checkbox" id="settings-toggle-input"/><label for="settings-toggle-input">Settings &amp; Search</label></div>
<table style="width: 100%; font-size: 9pt; border-spacing:0; border-collapse: collapse; table-layout: fixed; word-wrap: break-word;">
    <tbody data-bind="foreach: filteredElements">
        <tr data-bind="css: { 'even-row': $index() % 2 == 0, 'odd-row': $index() % 2 == 1 }">
            <td data-bind="symbols: Symbol" style="vertical-align: top; cursor: default; width: 40px;"></td>
            <td data-bind="visible: $parent.showQuotes(), quote: Symbol"></td>
            <td style="vertical-align: top;"><strong><span data-bind="text: Category"></span>: </strong><span data-bind="text: Text"></span></td>
        </tr>
    </tbody>
</table>


