@using WebSite.Controllers
@{
    ViewBag.Title = "Active Traders";
}
@section Scripts
{
    @Scripts.Render("~/ViewModels/ActiveTradersViewModel.js")
    @Scripts.Render("~/bundles/upshot")
    @Scripts.Render("~/Scripts/jquery.signalR-0.5.2.js")
    @Scripts.Render("~/signalr/hubs")
    <script type="text/javascript">
        $(function ()
        {
            var activeTradersHub = $.connection.activeTradersHub;
            var dataModel = new ActiveTradersViewModel();

            activeTradersHub.addNewsElement = function (data)
            {
                dataModel.addNewsElement(data);
            };

            activeTradersHub.resetState = function (data)
            {
                dataModel.resetItems();
            };

            $.connection.hub.start().done(function ()
            {
                ko.bindingHandlers.symbols = {
                    init: function (element, valueAccessor)
                    {
                        $(element).text(valueAccessor()().toString().split(";").join(" "))
                    },
                    update: this.init
                };

                // Start binding our UI data
                ko.applyBindings(dataModel);

                // Notify the server that we want to listen to items
                activeTradersHub.clientInitialize();
            });
        });
    </script>
}
<h2>Active Traders</h2>
<table style="width: 100%; font-size: 9pt;">
    <tbody data-bind="foreach: newsElements">
        <tr>
            <td data-bind="symbols: Symbol" style="vertical-align: top;"></td>
            <td data-bind="text: Category" style="vertical-align: top;"></td>
            <td data-bind="text: Text" style="vertical-align: top;"></td>
        </tr>
    </tbody>
</table>


