@{
    ViewBag.Title = "Cancel Auto Trading";
}
<h2>Auto Trading Cancellation</h2>
<div>
You have successfully cancelled your auto trading feature. You will no longer be charged for the add-on.</div>
<div></div>
<div style="text-align: right;"><img src="/Images/arrow-left-16.png" style="vertical-align: middle;" /> @Html.ActionLink("Change Notification Settings", "Index")</div>