@{
    ViewBag.Title = "Administer";
}
<ul>
    <li>@Html.ActionLink("Manage Stock Pick Types", "Index", "StockPickTypes")
        <ul><li>Stock pick types are the categories to which a stock pick belongs, such as &quot;Momentum&quot;, or &quot;Fundamentals&quot;.</li></ul>
    </li>
    <li>@Html.ActionLink("Manage Option Pick Types", "Index", "OptionPickTypes")
        <ul><li>Option pick types are the various option strategies that we'd like to publish such as &quot;Vertical Call Spread&quot;.</li></ul>
    </li>
    <li>@Html.ActionLink("Manage Subscription Prices", "Index", "SubscriptionTypes")</li>
</ul>