@{
    ViewBag.Title = "Philosophy And Performance";
}
<h2>Philosophy and Performance</h2><br /><br />
<span class="text-material-heading">Our Philosophy</span><br /><br/ />
<span class="text-material">
Our philosophy is to lock in profits on a stock, once it has gained ten percent. 
Investors who elect to keep positions open after that should adjust stop-loss levels upward, to protect gains. 
Never chase rumors. Never fall in love with a stock. Be ready to lock in profits. Always do your homework.</span><br /><br />

<span class="text-material-heading">Our performance record</span><br /><br />
<span class="text-material">
There are one to thirty day time frames associated with our selections. 
The price targets are set 10% above buy-in levels. The stop-losses are established 4%-6% below buy-in levels and 
are frequently related to a position of technical support. Selections exit the active portfolio when prices exceed
the target, or fall below the stop-loss.<br /> If a pick remains for a month, it is removed from the active portfolio in any event.<br />
<br />
    The true measure of any successful trading and/or  investing is how much success YOU have! and how much money you can make from your own  investments. Your success rate can and most likely will be different from our record. Past performance is no guaranty of future performance.
</span><br />

