<h2 style="font-size: 1.75em; color: #000; margin-bottom: 0; padding-bottom: 5px; padding-top: 3px; margin-top: 0; font-weight: 300; font-family: 'Open Sans', Helvetica, Arial">@(ViewBag.Type.Name) on @(ViewBag.Symbol) on @(ViewBag.PublishingDate.ToShortDateString())</h2>
@Html.Raw(ViewBag.OptionPickContents)