@model WebSite.Models.Data.Picks.OptionPick
@{
    ViewBag.Title = Model.Symbol;
}
@Html.DisplayForModel()
<div style="text-align: right;">
    <img src="/Images/arrow-left-16.png" style="vertical-align: middle; padding-right: 7px;" />@Html.ActionLink("Back to Portfolio", "Portfolio", "Picks")
</div>