@model IEnumerable<WebSite.Models.Data.Picks.StockPick>
@{
    ViewBag.Title = "Stock Picks";
}
<h2>Stock Picks</h2>
@if (!Request.IsAuthenticated)
{
    <p class="message-info">You are seeing stock picks that have already been closed. Please log in to see stock picks that are currently in our portfolio.</p>
}
@foreach (WebSite.Models.Data.Picks.StockPick pick in Model)
{
    @Html.DisplayFor(m => pick)
    <div class="separator"></div>
}