@model IEnumerable<WebSite.Models.Data.Picks.StockPick>
@{
    ViewBag.Title = "Stock Picks";
}
@section Description
{
    <meta name="description" content="List of stock selections during @DateTime.UtcNow.Year." />
}
@if (!Request.IsAuthenticated)
{
    @Html.InformationMessage("You are seeing stock picks that have already been closed. Please log in to see stock picks that are currently in our portfolio.")
}
<h2>Stock Picks</h2>
@foreach (WebSite.Models.Data.Picks.StockPick pick in Model)
{
    @Html.DisplayFor(m => pick)
    <div class="separator"></div>
}