@model WebSite.Models.Data.Picks.StockPick
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
There is a new stock pick available (visit <a href="http://www.stockwinners.com/Picks/Portfolio">our portfolio</a> to follow this pick): <br />
@Html.DisplayForModel()