@{
    
    ViewBag.Title = "Auto Trading";
}
@section Description
{
    <meta name="description" content="Stockwinners enables auto trading for busy traders." />
}
@section Keywords
{
    <meta name="keywords" content="stocks, option, put, call, day trading, options rumours, rumors, technical analysis, hot stock tips, daily picks, stock rumors, investment, winning stocks, winners, stockwinners, Wall Street Market" />
}
<h2>Auto Trading</h2>
Auto trading allows you to replicate our results without putting the time to manually place the orders. Through our partnerships with the brokers listed below, you can have our selections automatically traded on your behalf.
<h2 style="padding-top: 15px;">Steps to Setup</h2>
<ol>
    <li>Sign up for an account with the broker of your choice from the table below.</li>
    <li>Sign up for a Stockwinners.com account and enable auto-trading in the @Html.ActionLink("members page", "Index", "Members", new { area = "" }, null).</li>
    <li>Contact the broker to discuss your fund allocation strategies and share with them the email address you used for your Stockwinners.com account.</li>
    <li>Your broker will verify your membership with Stockwinners.com and you're good to go!</li>
    <li>Sit back and watch your profits!</li>
</ol>
<table style="width: 100%; padding-top: 15px;">
    <tr>
        <td style="width: 25%; vertical-align: central; text-align: center;"><a href="http://www.global-autotrading.com/" target="_blank">
            <img src="http://www.global-autotrading.com/logos/global-autotrading-logo-299x59.png" style="border: none;" /></a></td>
        <td style="width: 75%;  font-size: smaller; vertical-align: top;"><a href="http://www.global-autotrading.com" title="Autotrade with Global AutoTrading" target="_blank">Global AutoTrading</a> specializes in autotrading equities and options, including fast moving instruments like spreads and other combinations.
            <br />
            <br />
            Global AutoTrading uses <a title="Global AutoTrading uses Interactive Brokers" target="_blank" href="http://www.interactivebrokers.com/en/pagemap/pagemap_whyib.php">Interactive Brokers</a>, thus commissions start from a low $1 per equity trade and $0.70 per option contract. If you have an existing account with Interactive Brokers, <a target="_blank" href="http://www.global-autotrading.com/support/faqs/11-autotrading-account/87-already-have-account-with-ib.html">you don't need to open a new account!</a><br />
            <br />
            Please visit the <a href="http://www.global-autotrading.com" title="Autotrade with Global AutoTrading" target="_blank">Global AutoTrading web site</a> for general information about the autotrading services offered. 
        </td>
    </tr>
    <tr>
        <td style="width: 25%; vertical-align: central; text-align: center; padding-top: 20px;"><a href="http://eoption.com/" target="_blank">
            <img src="/Images/eOption_Logo.gif" style="border: none;" /></a>
            </td>
        <td style="width: 75%; font-size: smaller; vertical-align: top;  padding-top: 20px;">In 2007, eOption was created with a clear purpose in mind – low-cost trades combined with fast, efficient execution. eOptions's ultra low commission rates provide a unique value that will immediately enhance a successful trade with a higher investment yield. eOption provides an environment for investors interested in a reliable trading platform, fast execution and friendly service, without the high commission cost your trade needs to cover.<br />
            <br />
            While options are certainly the focus of eOption, eOption also offers a full range of investment products and services to a broad range of customers worldwide. eOption leverages its strengths with the experience and longstanding history of its parent company, Regal Securities, Inc., to provide you with an efficient and affordable experience.
        </td>
    </tr>
    <tr>
        <td style="width: 25%; vertical-align: central; text-align: center; padding-top: 20px;"><a title="AutoTrade with AutoShares" target="_blank" href="https://autoshares.com"><img style="-webkit-user-select: none" src="https://autoshares.com/themes/tradehedge/images/logo.png" alt="Autotrade with AutoShares" border="0"></a></td>
        <td style="width: 75%; vertical-align: top; font-size: smaller; padding-top: 20px;">AutoShares is a Division of ViewTrade Securities, Inc., Members of FINRA and SIPC. Since 1998, ViewTrade Securities, Inc., (VTS) has provided market access, technology, trade execution, and investment banking services to clientele in more than 17+ countries. Services include discount online brokerage, investment banking, technology and informational solutions. 

AutoShares' full range of benefits include: Online Investing, Automatic Investing, and AutoTrading Services in Stocks, Options, ETFs and Mutual Funds, Worldwide. Financial service vendors provide a diverse selection of financial products and services to our clients, whether investing or saving for the long or short-term, automating investing activities, or managing a self-directed account.</td>
    </tr>
</table>
