@{
    
    ViewBag.Title = "Auto Trading";
}
@section Description
{
    <meta name="description" content="Stockwinners enables auto trading for busy traders." />
}
@section Keywords
{
    <meta name="keywords" content="stocks, option, put, call, day trading, options rumours, rumors, technical analysis, hot stock tips, daily picks, stock rumors, investment, winning stocks, winners, stockwinners, Wall Street Market" />
}
<h2>Auto Trading</h2>
Auto trading allows you to replicate our results without putting the time to manually place the orders. Through our partnership with Global Auto Trading and eOption we allow our customers to have our selections automatically traded. Our selections and all updates to them are automatically sent to our partners and their financial advisors place the trades on your behalf. You can set your own preferences in terms of fund allocation, frequency of trades, etc. with the broker you choose to work with.
<table style="width: 100%; padding-top: 15px;">
    <tr>
        <td style="width: 50%; text-align: center;">Global Auto Trading</td>
        <td style="width: 50%; text-align: center;">eOption</td>
    </tr>
    <tr>
        <td style="width: 50%; font-size: smaller; vertical-align: top;">
            <a href="http://www.global-autotrading.com" title="Autotrade with Global AutoTrading" target="_blank">Global AutoTrading</a> specializes in autotrading equities and options, including fast moving instruments like spreads and other combinations.
            <br />
            <br />
            Global AutoTrading uses <a title="Global AutoTrading uses Interactive Brokers" target="_blank" href="http://www.interactivebrokers.com/en/pagemap/pagemap_whyib.php">Interactive Brokers</a>, thus commissions start from a low $1 per equity trade and $0.70 per option contract. If you have an existing account with Interactive Brokers, <a target="_blank" href="http://www.global-autotrading.com/support/faqs/11-autotrading-account/87-already-have-account-with-ib.html">you don't need to open a new account!</a><br />
            <br />
            Please visit the <a href="http://www.global-autotrading.com" title="Autotrade with Global AutoTrading" target="_blank">Global AutoTrading web site</a> for general information about the autotrading services offered. 
            <p align="center">
                <a href="http://www.global-autotrading.com/open-an-account.html" title="Global AutoTrading Free Trial!" target="_blank">Click Here For A FREE Trial With Global AutoTrading!</a>
        </td>
        <td style="width: 50%; font-size: smaller; vertical-align: top;">In 2007, eOption was created with a clear purpose in mind – low-cost trades combined with fast, efficient execution. eOptions's ultra low commission rates provide a unique value that will immediately enhance a successful trade with a higher investment yield. eOption provides an environment for investors interested in a reliable trading platform, fast execution and friendly service, without the high commission cost your trade needs to cover.<br />
            <br />
            While options are certainly the focus of eOption, eOption also offers a full range of investment products and services to a broad range of customers worldwide. eOption leverages its strengths with the experience and longstanding history of its parent company, Regal Securities, Inc., to provide you with an efficient and affordable experience.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="width: 50%; text-align: center;"><a href="http://eoption.com/" target="_blank">
            <img src="/Images/eOption_Logo.gif" style="border: none;" /></a></td>
    </tr>
</table>
