@{
    ViewBag.Title = "ChartReading";
}

<h2>ChartReading</h2>


<P><HR ALIGN=LEFT WIDTH="65%"><FONT SIZE="-1" FACE="Calibri"><!--SELECTION--><!--/SELECTION-->Please
read the <A HREF="#anchor1000">important disclaimer</A> at the
bottom of this page.</FONT></P>

<P><TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="4"
HEIGHT="4998">
  <TR>
    <TD WIDTH="100%" BGCOLOR="#ffffff" VALIGN="TOP">
      <P><TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
        <TR>
          <TD WIDTH="100%" BGCOLOR="#fef5f1"><FONT COLOR="#000000" SIZE="+2"
             FACE="Calibri">W</FONT><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">e
            have received many questions from our readers asking, &quot;How
            does one go about learning chart reading?&quot; This page addresses
            some of the significant basics.</FONT></TD> 
        </TR>
      </TABLE></P>

      <P><FONT COLOR="#990099" SIZE="+2" FACE="Calibri">W</FONT><FONT
       COLOR="#990099" FACE="Calibri">hat is a Chart?</FONT><FONT FACE="Calibri">
      </FONT><FONT SIZE="-1" FACE="Calibri">Simply put, a chart is plot
      of price fluctuations of an equity versus time. The chart is
      a &quot;complete one&quot; when volume is also plotted. </FONT><FONT
       COLOR="#000000" SIZE="-1" FACE="Calibri">Charts provide a record
      of the interplay of supply and demand for a given stock. They
      provide a history at-a-glance of trading in a stock, showing
      how many shares were traded, at what price they were traded,
      when they were traded, and so forth. It is very important to
      remember that the time period represented by a chart is one of
      the most critical things affecting what that chart can tell you.</FONT></P>

      <P><FONT COLOR="#990099" SIZE="+2" FACE="Calibri">W</FONT><FONT
       COLOR="#990099" FACE="Calibri">hat is Chart Reading?</FONT><FONT
       SIZE="-1" FACE="Calibri"> </FONT><FONT COLOR="#000000" SIZE="-1"
       FACE="Calibri">The purpose of &quot;chart reading&quot; or &quot;chart
      analysis&quot; is to gauge probable strength of demand versus
      pressure of supply for a stock, at various price levels. This
      allows one to predict the direction in which a stock may move
      and where it may stop.</FONT></P>

      <P><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">The clues are
      provided by the history of a stock's price movements recorded
      on a chart. In the market, history often repeats itself. Chart
      price fluctuations tend, with some consistency, to fall into
      a number of patterns. Each pattern signifies a relationship between
      buying and selling pressures. Some patterns, or &quot;formations&quot;,
      indicate that demand is greater than supply. Others suggest that
      supply is greater than demand. Still others imply that the two
      are likely to remain in balance for some time.</FONT></P>

      <P><TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
        <TR>
          <TD WIDTH="100%" BGCOLOR="#fdfee2"><FONT COLOR="#000000" FACE="Times Roman">Let's
            be clear about one thing before going any further. There is no
            infallible systems for predicting stock prices. There are educated
            guesses!</FONT></TD> 
        </TR>
      </TABLE></P>

      <P><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">A cursory glance
      at a few stock charts will reveal that prices have a tendency
      to move in a particular direction for a considerable time. A
      closer examination will show that this tendency, or trend, frequently
      assumes a definite pattern, zig-zagging along an imaginary straight
      line. In fact, this ability of prices to stay close to a straight
      line is one of the more extraordinary characteristics of chart
      movements</FONT><I><FONT COLOR="#000000" FACE="Calibri">. </FONT></I><FONT
       COLOR="#000000" SIZE="-1" FACE="Calibri">There is nothing mystical
      about chart reading. Stocks trace various patterns for reasons
      soundly based in human psychology. Remember, <B>it is psychology
      that determines stock movements</B>. The tendency for stocks
      to to move along a straight line, for example, is not hard to
      explain. In physical terms, it often is likened to the law of
      inertia (Newton's Third Law). That law states that an object
      in motion will continue in motion in the same direction, until
      it meets an opposing force. In human terms, an investor will
      tend to resist paying more for a stock than the price other people
      have recently been paying for it, unless it continues moving
      up, which will give him some confidence or hope that it will
      keep going up. Conversely, an investor will resist selling a
      stock for less than the price other people have been getting
      for theirs, unless the price keeps declining and he fears it
      will continue to decline.</FONT></P>

      <P><TABLE WIDTH="600" BORDER="0" CELLSPACING="0" CELLPADDING="0">
        <TR>
          <TD WIDTH="50%">
            <P>&nbsp;<IMG SRC="/Images/bgen_fig02.gif" ALIGN="BOTTOM"
            BORDER="0" ALT="Figure 1: Stock prices usually move in straight line trends"></P>

            <P><FONT SIZE="-1" FACE="Calibri">Figure 1: Stock prices often
            tend to move in straight lines, as is the case with <A HREF="http://finance.yahoo.com/q?s=bgen">BGEN</A>
            shares above</FONT>.<FONT COLOR="#ff0000" SIZE="-1"><HR ALIGN=LEFT
            WIDTH="600"></FONT>
          </TD>
        </TR>
        <TR>
          <TD WIDTH="50%">
            <P>&nbsp;<IMG SRC="/Images/0831nasdaq10yr.gif" ALIGN="BOTTOM"
            BORDER="0" ALT="Figure 2: Market Indexes over a long period of time move in straight line trends"></P>

            <P><FONT SIZE="-1" FACE="Calibri">Figure 2: Market Indexes over
            a long period of time move in straight line trends</FONT><HR ALIGN=LEFT>
          </TD>
        </TR>
      </TABLE></P>

      <P><A NAME="anchor100000"></A><I><FONT SIZE="+1" FACE="Calibri">S</FONT></I><FONT
       SIZE="-1" FACE="Calibri">tock</FONT><FONT FACE="Calibri"> </FONT><I><FONT
       SIZE="+1" FACE="Calibri">T</FONT></I><FONT SIZE="-1" FACE="Calibri">rends</FONT><FONT
       FACE="Calibri"> </FONT><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">Let
      us see how market psychology, reacting to a news development,
      forms a trend in an imaginary, but highly typical, case. Suppose
      XYZ Corporation is nearing completion of the development of a
      new product, or is about to launch its new Internet web site.
      Its stock has been selling at $40 a share. Insiders, executives,
      employees, relatives and friends are the first to learn about
      it. They are immediately removed from the ranks of those who
      might be willing to sell their stock at $40, $41 or even $42.
      Their shares are off the market. To that extent, the supply of
      stock at those prices has been reduced, creating a tendency for
      the stock to rise. More important, some of them will begin to
      buy more stock, increasing the demand. By that time, word of
      the new product may have reached brokers, investment counselors,
      chat rooms and other people in the industry concerned. The price
      has been rising steadily and attracting more and more attention.
      Traders and the general public begin to scramble aboard. Everybody
      loves to give, or get, a stock tip and more and more buyers are
      attracted. Then comes the public announcement of the new product,
      or the Web page. Brokerage firms, in pamphlets sent to their
      clients, discuss what effect the new product will have on XYZ's
      earnings. XYZ itself advertises and publicizes the product, or
      the Web page. All this creates new demand. An </FONT><FONT COLOR="#000000"
       FACE="Calibri">up trend </FONT><FONT COLOR="#000000" SIZE="-1"
       FACE="Calibri">has been established for the stock price. But there
      comes a point when the market price has fully &quot;discounted&quot;,
      or &quot;factored-in&quot; the development. The stock has risen
      enough to take into account the increase in earnings likely to
      occur. This point is often reached by the time the public announcement
      is made. Many traders &quot;sell on the news&quot; to cash in
      their profits, especially when the news occurs after a sharp
      price rise.</FONT></P>

      <P><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">A</FONT><FONT
       COLOR="#000000" FACE="Calibri"> down trend</FONT><FONT COLOR="#000000"
       SIZE="-1" FACE="Calibri"> may develop if it appears that the rise
      went too far. Perhaps the early estimates of sales and earnings
      were too optimistic. Perhaps other companies quickly introduce
      competitive products. Profits from other XYZ departments may
      decline. As the price of XYZ falls back, buyers who still have
      profits may cash in. Then, latecomers who bought near the top
      of the rise may sell out at a loss, to avoid even bigger losses.
      And so the decline continues.</FONT></P>

      <P><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">So, for such
      well-founded reasons, stock prices do tend to move in a given
      direction for a considerable time.....up, down or sideways. Thus,
      an obvious first lesson to be drawn from chart reading is that,
      when a stock is found to be following a given trend line, it
      is quite likely to continue moving along that line<I>. </I>The
      ability to spot a trend gives the investor an edge in determining
      his market tactics.</FONT></P>

      <P><A NAME="anchor200000"></A><I><FONT SIZE="+1" FACE="Calibri">T</FONT></I><FONT
       COLOR="#000000" SIZE="-1" FACE="Calibri">rading </FONT><I><FONT
       SIZE="+1" FACE="Calibri">C</FONT></I><FONT COLOR="#000000" SIZE="-1"
       FACE="Calibri">hannels - Parallel trend lines, help outline trading
      channels<I>. </I>Briefly, channels are grooves, or ducts, through
      which prices move as they zigzag along a trend line. Once a trend
      line has been clearly established, a channel can usually be determined.
      Needless to say, channels seldom occur as neatly defined as in
      the selected charts shown in </FONT><FONT SIZE="-1" FACE="Calibri"><A
      HREF="#anchor98184">Figures 3 and 4</A></FONT><FONT COLOR="#000000"
       SIZE="-1" FACE="Calibri">. When the are found, however, they can
      be useful indicators of favorable levels for purchase or sale.
      It is perhaps obvious that the longer a stock has been moving
      along a given trend, or within a given channel, the stronger
      that trend is likely to be. For this reason, trend lines on longer
      range charts, such as weekly or monthly plots, are usually more
      reliable than trend lines that form on daily high-low-and-close
      charts. Even trend lines of one or two weeks duration are often
      not particularly strong indicators.</FONT></P>

      <P><A NAME="anchor98184"></A><FONT COLOR="#000000" SIZE="+1"
       FACE="Times Roman"><IMG SRC="/Images/SP500_063099.gif"
      ALIGN="BOTTOM" BORDER="0" ALT="Figure 3: An Upward trading channel is well established in this chart"></FONT></P>

      <P><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">Figure 3: An
      upward trading channel is well established in this chart</FONT><FONT
       COLOR="#000000" SIZE="-1" FACE="Times Roman"><HR ALIGN=LEFT></FONT></P>

      <P><FONT COLOR="#000000" FACE="Times Roman"><IMG SRC="/Images/qmdc_100599.gif"
      ALIGN="BOTTOM" BORDER="0" ALT="Figure 4: A down ward trading channel is well established for this stock"></FONT></P>

      <P><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">Figure 4: A downward
      trading channel is well established for </FONT><FONT SIZE="-1"
       FACE="Calibri"><A HREF="http://finance.yahoo.com/q?s=qmdc">QMDC</A></FONT><FONT
       COLOR="#000000" FACE="Times Roman">.</FONT><HR ALIGN=LEFT><TABLE
      WIDTH="615" BORDER="0" CELLSPACING="0" CELLPADDING="0">
         
        <TR>
          <TD WIDTH="100%" BGCOLOR="#f0ffff"><FONT COLOR="#000000" SIZE="-1"
             FACE="Calibri">Changes in</FONT><FONT COLOR="#ff0000" SIZE="-1"
             FACE="Calibri"> trading volume</FONT><FONT COLOR="#000000" SIZE="-1"
             FACE="Calibri"> patterns often warn of a reversal in trend, before
            it actually happens. Here's an example. If an uptrend has been
            proceeding normally, with higher volume on rallies and lower
            volume on reactions, and suddenly volume subsides on the rallies
            and increases on the reactions, it is often a signal of a pending
            trend reversal.</FONT></TD> 
        </TR>
      </TABLE></P>

      <P><A NAME="anchor300000"></A><FONT COLOR="#000000" SIZE="-1"
       FACE="Calibri">An interesting variation from the straight-line
      trend is the <B>curved trend line</B>. In some cases, the momentum
      of an advance or a decline suddenly picks up steam so rapidly
      that an established straight trend line curves in the direction
      of the move. </FONT><FONT SIZE="-1" FACE="Calibri"><A HREF="#anchor213975">Figures
      5, 6, and 7</A></FONT><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">
      show up-curving and down-curving trend lines. If this curving
      occurs after an extended price move, it frequently results in
      a climactic action that brings the major movement to its final
      peak (or bottom, in a sell-off). <B>Climactic action is synonymous
      with frenzied buying or selling</B>. <B>Price moves are exceptionally
      wide and volume is abnormally high</B>. This type of trend line
      can be drawn with a &quot;French Curve&quot;, and can be just
      as valid as the straight-line variety. However, it is very difficult
      to pinpoint the end of a climactic move until the reaction phase
      has begun. The &quot;blow-off&quot; or the vertically rising
      stage (or decline, in a sell off) can carry a considerable distance.
      Psychologically speaking, this is the time that investors blindly
      jump on bandwagon of a rising stock so they won't miss the recent
      rise or conversely, they sell because they are tired of seeing
      a stock lose its value. A disciplined market participant (at
      a blow off time) can find good values to either go </FONT><FONT
       SIZE="-1" FACE="Calibri"><A HREF="../../def/short.txt">short</A></FONT><FONT
       COLOR="#000000" SIZE="-1" FACE="Calibri"> or </FONT><FONT SIZE="-1"
       FACE="Calibri"><A HREF="../../def/long.txt">long</A></FONT><FONT
       COLOR="#000000" SIZE="-1" FACE="Calibri"> on a stock.</FONT></P>

      <P><A NAME="anchor213975"></A><IMG SRC="/Images/chart_Page_cust.gif"
      ALIGN="BOTTOM" BORDER="0" ALT="Figure 5: Upward blow off on CustomTracks"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 5: Upward blow off on
      <A HREF="http://finance.yahoo.com/q?s=ZIXI">ZIXI</A>
      shares. (Formerly called CustomTracks Corp.)</FONT><HR ALIGN=LEFT><IMG 
      SRC="/Images/amzn_080599.gif" ALIGN="BOTTOM" BORDER="0"
      ALT="Figure 6: Down-ward blow off on Amazon.com (AMZN)"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 6: Downward blow off on
      Amazon.com (<A HREF="http://finance.yahoo.com/q?s=amzn">AMZN</A>)</FONT><HR ALIGN=LEFT><IMG 
      SRC="/Images/aol_080599.gif" ALIGN="BOTTOM" BORDER="0"
      ALT="Figure 7: Down-ward blow off on America Online (AOL)"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 7: Downward blow off on
      America Online (<A HREF="http://finance.yahoo.com/q?s=aol">AOL</A></FONT>)<HR ALIGN=LEFT><BR>
      <A NAME="anchor400000"></A><I><FONT SIZE="+1" FACE="Calibri">R</FONT></I><FONT
       SIZE="-1" FACE="Calibri">esistance and </FONT><I><FONT SIZE="+1"
       FACE="Calibri">S</FONT></I><FONT SIZE="-1" FACE="Calibri">upport
      are terms used by technicians and chart readers. What do they
      mean in real life and how are they developed? How many times
      have you bought a stock and </FONT><FONT COLOR="#000000" SIZE="-1"
       FACE="Calibri">watched it decline in price, yearning to sell out
      for what you paid?</FONT><FONT COLOR="#000000" FACE="Calibri">
      </FONT><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">Conversely,
      have you ever sold a stock, watched it go up after you had sold
      it, and wished you had an opportunity to buy it again at the
      original price? Well, you are not alone. These are common human
      reactions, and they show up on the stock charts by creating <B><I>support</I></B><I>
      </I>and <B><I>resistance</I></B><I>.</I></FONT></P>

      <P><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">A support level
      is that price at which one may expect a considerable increase
      in the demand for a stock, or buying. A resistance level is that
      price at which one may expect a considerable increase in the
      supply, or selling. Such levels are not hard to find. Any price
      level where a great deal of stock has changed hands might be
      a support or resistance level.</FONT></P>

      <P><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">Let's assume
      that you and many other investors bought the stock of XYZ Corporation
      in the range between $40 and $42 per share, and then saw it slip
      down to $35. The first reaction of the typical buyer is to hold
      on, in hope that the stock will climb above $42 and show a profit
      that will vindicate the buyer's judgment. However, if stock XYZ
      remains depressed, many buyers will begin to think it would be
      great just to break even. So if the stock finally heads back
      upward, the urge to sell will grow stronger as it gets closer
      and closer to the breakeven point. Naturally, the more trading
      that occurred in the $40-$42 price range, the greater the supply
      of stock for sale. Hence, the greater the resistance at that
      point to further advance.<I> </I>Now, suppose that after all
      those investors bought stock XYZ between $40 and $42, it went
      up instead of down. The analyst would peg the $40-$42 range as
      a support zone<I>. </I>He would expect that any subsequent slide
      would meet new buying demand as it returned to the $40-$42 range.
      There are a number of reasonable explanations. For one thing,
      those who sold<I> </I>out when the stock was at $40-$42 have
      been blaming themselves for selling all the time it was moving
      up. Many of them may be eager to buy back the stock at the price
      at which they sold it, and thus get &quot;back on board&quot;
      without embarrassment. They may then say that they were right
      all along about the great prospects of stock XYZ. Another group
      consists of those who thought of buying at $40-$42, but saw the
      stock &quot;get away&quot;<I> </I>from them. They may plan to
      buy any time it gets back to that price. A third type of major
      buying may develop from traders who </FONT><FONT SIZE="-1" FACE="Calibri"><A
      HREF="../../def/short.txt">sold short</A></FONT><FONT COLOR="#000000"
       SIZE="-1" FACE="Calibri"> on the rise and purchase stock to cash
      in their profits when it falls back.</FONT></P>

      <P><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">As the market
      develops, <B>a support level may become a resistance level</B>,
      and vice versa.</FONT></P>

      <P><IMG SRC="/Images/avp_fig1.gif" ALIGN="BOTTOM" BORDER="0"
      ALT="Figure 8: Price is about to drop below a key &quot;support&quot;"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 8: <A HREF="http://finance.yahoo.com/q?s=avp">AVP</A>
      price is about to drop below a key &quot;support&quot;</FONT><HR ALIGN=LEFT><IMG 
      SRC="/Images/hmtt_fig04.gif" ALIGN="BOTTOM" BORDER="0"
      ALT="Figure 9: Price broke through a key &quot;resitance&quot;"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 9: <A HREF="http://finance.yahoo.com/q?s=hmtt">HMTT</A>
      price broke through a key &quot;resistance&quot;</FONT><HR ALIGN=LEFT><IMG 
      SRC="/Images/lu_110899.gif" ALIGN="BOTTOM" BORDER="0" 
      ALT="Figure 10: Price broke through a &quot;resitance&quot; level"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 10: <A HREF="http://finance.yahoo.com/q?s=lu">LU</A>
      price broke through a &quot;resistance&quot; level</FONT><HR ALIGN=LEFT></P>

      <P><A NAME="anchor500000"></A><I><FONT SIZE="+1" FACE="Calibri">D</FONT></I><FONT
       SIZE="-1" FACE="Calibri">ouble</FONT><FONT SIZE="+2" FACE="Calibri">
      </FONT><I><FONT SIZE="+1" FACE="Calibri">T</FONT></I><FONT SIZE="-1"
       FACE="Calibri">ops and </FONT><I><FONT SIZE="+1" FACE="Calibri">D</FONT></I><FONT
       SIZE="-1" FACE="Calibri">ouble</FONT><FONT SIZE="+2" FACE="Calibri">
      </FONT><I><FONT SIZE="+1" FACE="Calibri">B</FONT></I><FONT SIZE="-1"
       FACE="Calibri">ottoms are common chart patterns. The first one
      resembles the letter &quot;M&quot;, while the latter resembles
      the letter &quot;W&quot;. The </FONT><FONT COLOR="#000000" SIZE="-1"
       FACE="Calibri">market psychology of a Double Top can be explained
      in the following manner. The first peak represents the price
      level where a big enough supply of stock was put on the market
      to satisfy all demands and cause a moderate reaction. This reaction
      may reflect selling based on a combination of motives, such as
      a fairly widespread decision to cash in profits and a well-informed
      view that the stock has gone about as high as it's likely to
      go for the time being. After the reaction, &quot;weak&quot; holders
      of the stock may feel they missed an opportunity to sell out
      at the top. When &quot;bargain hunters&quot; and other optimists
      move in, running the price back to its previous peak, the sellers
      who missed the peak rush to unload. In addition, some of those
      who sold the first time have more stock to offer at the same
      price. The supply, therefore, again increases enough to<I> </I>drive
      the stock down. The Double Bottom can be explained in much the
      same way. The first bottom represents a point where bargain hunters
      come in to pick up the stock, because they think it has dropped
      as much as it is going to. A few points higher, these bargain
      hunters decide to take their profits. They are accompanied by
      those &quot;weak hands&quot; who did not sell at the bottom believe
      this is a good time to move on. Thus, there is a fresh new supply
      of stock for sale pushing the shares lower. The second bottom
      is formed by bargain hunters who just took profits. Other buyers
      come in to average down their costs. These are shareholders who
      have bought the stock at much higher prices and missed the first
      bottom opportunity to average down their share prices. Volumes
      are heaviest around the two peaks or valleys.</FONT></P>

      <P><FONT COLOR="#000000" FACE="Times Roman"><IMG SRC="/Images/aol_102599_fig2.gif"
      ALIGN="BOTTOM" BORDER="0" ALT="Figure 11: Note the heavy volume around each bottom"></FONT></P>

      <P><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">Figure 11: Note
      the heavy volume around each </FONT><FONT SIZE="-1" FACE="Calibri"><A
      HREF="http://finance.yahoo.com/q?s=aol">AOL</A></FONT><FONT
       COLOR="#000000" SIZE="-1" FACE="Calibri"> bottom</FONT><HR ALIGN=LEFT><FONT
       COLOR="#000000" FACE="Times Roman"><IMG SRC="/Images/espi-030399.gif"
      ALIGN="BOTTOM" BORDER="0" ALT="Figure 12: A double bottom usually involves breaking through a resistance point."></FONT></P>

      <P><FONT COLOR="#000000" SIZE="-1" FACE="Calibri">Figure 12: A
      double bottom usually involves breaking through a resistance
      point, as with </FONT><FONT SIZE="-1" FACE="Calibri"><A HREF="http://finance.yahoo.com/q?s=espi">ESPI</A></FONT><FONT
       COLOR="#000000" SIZE="-1" FACE="Calibri"> above</FONT><FONT COLOR="#000000"
       FACE="Times Roman">.</FONT><HR ALIGN=LEFT></P>

      <P><A NAME="anchor600000"></A><I><FONT SIZE="+1" FACE="Calibri">H</FONT></I><FONT
       SIZE="-1" FACE="Calibri">ead and </FONT><I><FONT SIZE="+1" FACE="Calibri">S</FONT></I><FONT
       SIZE="-1" FACE="Calibri">houlders patterns are perhaps the easiest
      patterns to recognize, but there can be pitfalls that trap novice
      chart readers. A Head and Shoulders portrays three successive
      failed rallies and reactions. The second rally typically reaches
      a point higher than the other 2 rallies, thus forming the head.
      The failure of the third rally to equal the peak of the second
      rally is a warning that a major uptrend has come to an end. <A
      HREF="#anchor17699">Figure 13</A> is provided to illustrate the
      rallies and the ensuing reactions. Please note the characteristic
      volume pattern.</FONT></P>

      <P><A NAME="anchor17699"></A><IMG SRC="/Images/volume_HS.JPG"
      ALIGN="BOTTOM" BORDER="1" ALT="Figure 13: Anatomy of a Head and Shoulders"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 13: Anatomy of a Head
      and Shoulders Pattern<HR ALIGN=LEFT></FONT></P>

      <P><FONT SIZE="-1" FACE="Calibri">The Left Shoulder is formed when
      an upturn of some duration reaches a climax in a rally. Volume
      is high on the rally and it diminishes on the reaction. The Left
      Shoulder is formed by people who bought stock before or during
      an uptrend, and are ready to sell and take their profits.</FONT></P>

      <P><FONT SIZE="-1" FACE="Calibri">The Head is formed when a second
      rally carries the stock higher than the first one, but is followed
      by a reaction that erases all the gains. Trading volumes during
      the Head formation are not so great as during the Left Shoulder
      formation. Then Head is formed by persons who bought the stock
      after the Left Shoulder pullback, but are met with sellers who
      bought at the top of the Left Shoulder.</FONT></P>

      <P><FONT SIZE="-1" FACE="Calibri">The Right Shoulder is formed
      when a third rally fails to reach the height of the Head, before
      the next selling reaction kicks in. Volume during the formation
      of a Right Shoulder must be less than the previous rallies, in
      order to confirm a Head and Shoulders formation. If the volume
      increases during the Right Shoulder, it could be a good sign
      that the stock is NOT forming the pattern and could breakaway
      to the upside. The Right Shoulder is formed by people who buy
      during a bargain hunting reaction to the Head formation. At the
      height of the Right Shoulder, several groups begin to sell, including
      those who bought at the Neck Line and the Head. These are investors
      who either want to breakeven or cut their losses.</FONT></P>

      <P><FONT SIZE="-1" FACE="Calibri">A Return Move may be formed when
      people who bought at the top (Head and the two shoulders) attempt
      to average down. That is, they buy more shares at lower prices
      so their average price is lower than before. These same investors
      sell their shares at the neck line, along with others who sell
      in disgust and register their losses.</FONT></P>

      <P><IMG SRC="/Images/itvu_051199.gif" ALIGN="BOTTOM" BORDER="0"
      ALT="Figure 14: A Head and Shoulders Formation"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 14: A Head and Shoulders
      Formation on Intervu, Inc. (<A HREF="http://finance.yahoo.com/q?s=itvu">ITVU</A>)</FONT><HR ALIGN=LEFT><IMG 
      SRC="/Images/imn_071299.gif" ALIGN="BOTTOM" BORDER="0"
      ALT="Imation (IMN)"></P>

      <P>&nbsp;<FONT SIZE="-1" FACE="Calibri">Figure 15: A Head and Shoulders
      Formation on Imation (<A HREF="http://finance.yahoo.com/q?s=imn">IMN</A>)</FONT><HR ALIGN=LEFT><IMG 
      SRC="/Images/sntc_061099.gif" ALIGN="BOTTOM" BORDER="0"
      ALT="Synetic, Inc."></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 16: A Head and Shoulders
      Formation on Synetic, Inc. (<A HREF="http://finance.yahoo.com/q?s=sntc">SNTC</A>)</FONT><HR ALIGN=LEFT><A
      NAME="anchor700000"></A><A NAME="anchor7"></A><I><FONT SIZE="+1"
       FACE="Calibri">C</FONT></I><FONT SIZE="-1" FACE="Calibri">up and
      </FONT><I><FONT SIZE="+1" FACE="Calibri">H</FONT></I><FONT SIZE="-1"
       FACE="Calibri">andle, or <I>Saucer and Platform,</I> or <I>Saucepan</I>
      are terms used to refer to the same chart pattern. This formation
      is a variation of a Line Pattern. The latter involves a stock
      price that trades sideways (along a line) for an extended period
      of time, without any significant changes. Sellers have no reason
      to sell and buyers are not willing to bid prices higher to accumulate
      the stock. However, something may begin to brew to upset the
      balance. Perhaps a new product is in the works, or profits are
      going to be higher than previously expected. Insiders begin to
      accumulate the stock, thus creating demand. Since they are &quot;in
      the know&quot;, they are willing to bid up the stock and change
      the line pattern. Prices begin to &quot;Curve Upward&quot;. Once
      &quot;in the know&quot; people have accumulated shares, there
      comes a consolidation phase where price moves sideways to form
      &quot;the handle&quot;. Then comes the official announcement
      of the good news that led &quot;in the know&quot; people to buy
      initially. The second wave of buying comes when brokers begin
      to buy the shares and move the price higher. An interesting characteristic
      of the Cup and Handle formation is that the volume portion of
      the chart tends to follow the price. In a typical Cup, trading
      slowly diminishes to a low at the turn of the formation, then
      gradually picks up as prices curve up. Volume thus has formed
      a saucer itself. It may become quite active at the start of the
      Handle, and again at the end, as the stock breaks out of the
      formation.</FONT></P>

      <P><IMG SRC="/Images/emc_092099_fig2a.gif" ALIGN="BOTTOM"
      BORDER="0" ALT="EMC Corp."></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 17: Cup and Handle formation
      on <A HREF="http://finance.yahoo.com/q?s=emc">EMC</A>
      share price. Note the volume pattern.</FONT><HR ALIGN=LEFT><IMG 
      SRC="/Images/vo_033199.gif" ALIGN="BOTTOM" BORDER="0" 
      ALT="Seagram Company"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 18: Cup and Handle Formations
      may take up to several months to complete. See <A HREF="http://finance.yahoo.com/q?s=vo">VO</A>
      above.</FONT><HR ALIGN=LEFT><IMG SRC="/Images/vrsn_033099.gif"
      ALIGN="BOTTOM" BORDER="0" ALT="Verisign, Inc."></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 19: A smaller Cup and
      Handle may be formed inside a larger one, as with <A HREF="http://finance.yahoo.com/q?s=vrsn">VRSN</A>
      above</FONT>.<HR ALIGN=LEFT><IMG SRC="/Images/mxt_080399.gif"
      ALIGN="BOTTOM" BORDER="0" ALT="Metris Companies, Inc."></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 20: Inverted Cup and Handle
      Formations also form! <A HREF="http://finance.yahoo.com/q?s=mxt">MXT</A>
      is an example</FONT>.<HR ALIGN=LEFT><A NAME="anchor800000"></A><A
      NAME="anchor8"></A><I><FONT SIZE="+1" FACE="Calibri">P</FONT></I><FONT
       SIZE="-1" FACE="Calibri">ennant-type formations will be the last
      discussed here. Many times stocks pause briefly on their way
      to higher (or lower) levels. In the process, they form patterns
      that are signals to experienced chart readers. They are called
      <I>continuation formations</I>. Two such continuation patterns
      are &quot;Pennants&quot; and &quot;Flags&quot;. A &quot;flag&quot;,
      as the name implies, looks like a flag on the chart. It represents
      a quiet pause, or consolidation period. Trading volumes are high
      leading into a flag and then drop as the flag forms. When the
      flag is completed, prices break out in the same direction that
      they were moving in prior to its formation. Flags can form in
      a period as short as 5 days or as long as 3 to 5 weeks. Essentially
      they represent a period of controlled profit taking. Investors
      buy a stock on heavy volume, due to some good news. After the
      jump, weak hands begin to take profits and shares move lower.
      After the consolidation, the price jumps again as people remember
      why they had bought the shares to begin with (formation of the
      pole). The chartist's flag must be pictured as flying without
      much of a breeze, otherwise it would assume the shape of a parallelogram.</FONT></P>

      <IMG SRC="/Images/macr_010500_chart.gif" ALIGN="BOTTOM"
      BORDER="0" ALT="Flag Formation on MACR">

      <P><FONT SIZE="-1" FACE="Calibri">Figure 21: Flag Formation on
      Macromedia (<A HREF="http://finance.yahoo.com/q?s=macr">MACR</A>).<HR ALIGN=LEFT></FONT><A
      NAME="anchor900000"></A><FONT SIZE="-1" FACE="Calibri">Like the
      Flag, the <I>&quot;Pennant&quot;</I> flies from a pole created
      by a sharp rise on good volume. However, the pennant formation
      has the shape of a triangle and has a stiff breeze behind it
      to prevent it from sagging. Pennants are more reliable than flags.
      Volume patterns are however, the same. The tighter the pennant
      the more reliable it is. A pennant is formed when the number
      of buyers and sellers doing battle with each other gradually
      diminish. A very low volume equilibrium is ultimately established.
      Then comes a catalyst to trigger the buying (or selling) and
      a pennant breakout. If prices drop into a pennant, the breakout
      will be to downside. If prices rise into a pennant, the breakout
      will typically be to the upside.</FONT></P>

      <P><IMG SRC="/Images/jdsu_123199.gif" ALIGN="BOTTOM" BORDER="0"
      ALT="Pennant Breakout on JDSU"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 22: Pennant breakout on
      JDS Uniphase (<A HREF="http://finance.yahoo.com/q?s=jdsu">JDSU</A>)</FONT><HR ALIGN=LEFT><IMG 
      SRC="/Images/bvsn_121399_fig2.gif" ALIGN="BOTTOM" BORDER="0"
      ALT="Pennant Breakout on BVSN"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 23: Pennant breakout on
      BroadVision, Inc. (<A HREF="http://finance.yahoo.com/q?s=bvsn">BVSN</A>)</FONT><HR ALIGN=LEFT><IMG 
      SRC="/Images/msp_042699.gif" ALIGN="BOTTOM" BORDER="0"
      ALT="Pennant Breakout on MSPG"></P>

      <P><FONT SIZE="-1" FACE="Calibri">Figure 24: Pennant breakout on
      Mindspring Ent. (<A HREF="http://finance.yahoo.com/q?s=mspg">MSPG</A>).
      Note that the MACD is also turning bullish.</FONT></P>

      <P><TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
        <TR>
          <TD WIDTH="100%" BGCOLOR="#fdfee2">
            <P>&nbsp;<A NAME="anchor1000"></A><U><FONT SIZE="-2" FACE="Calibri">NOTICE:</FONT></U></P>

            <P><FONT SIZE="-2" FACE="Calibri">The recommendations and information
            provided here should not be interpreted as investment advice,
            or as an endorsement of any security. Remarks and data are for
            <U>informational purposes only</U> and are provided without warranty
            of any kind. The trading of securities may not be suitable for
            all potential users of this information. You, not STOCKWINNERS.COM,
            INC. assume the entire cost and risk of any investing and/or
            trading you choose to undertake. Remember, past performance does
            not ensure future results.</FONT></P>
          </TD>
        </TR>
      </TABLE></P>
    </TD>
  </TR>
</TABLE>