@{
    
    ViewBag.Title = "Contact Us";
}
<h2>Contact Us</h2><br />

Please feel free to contact us in case of any questions or concerns:<br /><br />

<table style="width: 80%; border-spacing: 15px; font-size: 16pt;">
    <tbody>
        <tr><td style="width: 20%; vertical-align: top;">Email</td><td><a href="mailto:info@stockwinners.com">info@stockwinners.com</a></td></tr>
        <tr><td style="width: 20%; vertical-align: top;">Phone</td><td>1-972-63TRADE</td></tr>
        <tr><td style="width: 20%; vertical-align: top;">Address</td><td>Stockwinners.com, LLC<br />
    P.O. Box 10815<br />
    Austin, Texas 78766<br />
    USA <br /></td></tr>
    </tbody>
</table>
<table style="width: 80%; margin: 0px auto;">
    <tbody>
        <tr><td style="width: 50%; text-align: center">
            <a href="http://www.facebook.com/pages/STOCKWINNERScom/210099385707437"><img src="/Images/Social%20Networks/facebook-like.gif" style="border-width: 0;" /></a></td><td style="width: 50%; text-align: center;">
                <a href="https://twitter.com/stockwinnerscom"><img src="/Images/Social%20Networks/twitter-follow.gif" style="border-width: 0;" /></a></td></tr>
    </tbody>
</table>