@{
    ViewBag.Title = "How to invest in stocks using best stock market tips";
}
@section Description
{
    <meta name="description" content="Whether you want to learn how to invest in stocks or looking for effective and beneficial stock market tips, there is no one better than Stockwinners." />
}
@section Keywords
{
    <meta name="keywords" content="Stock market tips, How to invest in stocks" />
}
<h2>Best Stock Trading Tips</h2><br />
<span class="text-material">So you have heard that the market is making
new highs everyday (or at least seems that way), and you would
like to participate in the rally. You wonder, how do I do that?
Well, this page is intended to provide some basic information
on how to start investing in the market.<br /><br />

First thing first, keep in mind that the
market does not offer any guarantees. The fact that an analyst
recommends a stock does not mean that the stock is going to go
up. Keep in mind that INFORMATION is your best friend in the market.
Study the company before you invest. Another important tool of
making money in the stock market is <U>patience</U>. The fact
that you buy a stock does not mean that the price has to go up!
Many novice investors would sell at the first sign of a softness
in the price. When the price goes up again they blame themselves
for not having enough patience. But the next time they buy a stock,
they repeat the same mistake again.<br /><br />

<span class="text-material-heading">Brokerage Firms</span><br /><br />

<span class ="text-material">There are two basic types
of brokerage firms:</P>

<P> <U>Full Service Brokers:</U>
They offer you advise on what to buy, when to buy, and what not
to buy. Naturally, they charge for their advise. Many times they
also have a set of quota to meet, so be careful when you listen
to their advise. They may also have a vested interest in selling
a certain security since most of the IPOs are offered by full
service brokerage houses. They have a research department that
searches the market and locates stocks that they believe are ready
to move up. Keep in mind that you pay for that research. There
is nothing wrong with that provided you know that.</P>

<P> <U>Discount Brokers:</U>
These companies do not offer any kind of advise. They just execute
your order. In this category you have &quot;Deep Discount Brokers&quot;
such as Ameritrade and E-Trade and the &quot;Not So Deep Discount
Brokers&quot; like Schwab or Fidelity. Besides the speed of execution
and access to their system, Discount Brokers are pretty much the
same.</P>

<span class="text-material-heading">Account Type</span><br /><br />

<span class ="text-material">There are two types of
brokerage accounts: 1) Cash Account; and 2) Margin Account.

<P>Cash Account refers
to those accounts that require cash up front and your trading
capacity is limited to the amount of money available in your account.</P>

<P>Margin Account refers
to those account that require cash up front but your buying limit
is twice as much as the cash available in your account. In these
accounts, you borrow money from your broker to buy stocks. You
will use the stock itself as collateral. Typically in order to
Sell Short, you are required to have a margin account. The interest
rate charged on these accounts varies from one brokerage house
to the next. Options can not bought on margin.</P>

<P><U><span class="text-material-heading">DOs and DON'Ts</span></U></P>

<P><span class ="text-material">- Do your own homework.
Gather as much information as you can on a stock. Do not be afraid
to call the company and ask their Investor Relation Department
about the company's product, earning and other such information.
After all, you are getting ready to own part of the company. You
need to know what you are buying. I am amazed that most people
spend more time researching a $400 lap top purchase than a $2,000
stock purchase.</P>

<P>- Do Investigate the company
<U>before</U> you buy. A good friend of mine always investigated
the company after he had bought the stock. Needless to say many
times he was surprised, not pleasantly either!</P>

<P>- Do be patient when you
buy a stock.</P>

<P>- Do set an exit price
for yourself. If you make a bad trade, take your losses and go
on. Do not hope that the stock will go up tomorrow. Many times,
that tomorrow never comes.</P>

<P>- Do not buy a stock because
a friend of your friend has made a lot of money on that stock.
Many times, you will end up losing your money.</P>

<P>- Do not buy because someone
had a <I>Hot Tip</I>. More often than not, the hot tip is a luke
warm tip at best.</P>

<P>- Do NOT buy at the market
open. I repeat NEVER buy at the market open. You always get a
pop at the market open which fades away in an hour or two. The
best time to buy a stock is about 45 minutes to an hour into the
market and late in the afternoon, about 30 minutes before the
market closes. Conversely, the best time to sell is at the market
open or about 1:00 p.m. Eastern time. Look at daily chart of any
stock. You will be surprised at the similarity of the price fluctuations.</P>

<P>- Always have discipline
on when to buy and when to sell. Do not act on emotions. Leave
your emotions out of your investments.</P>

<P>- Always know your time
frame for a stock whether it is a day, a month, a year or long
term.</P>

<P>- Last but not the least,
Hope that Luck will be with you.</P>

<P><U>Know when to take your
profits!</U></P>

<P>As a rule of thumb, it is always a good
idea to set a target for your profits. Many times, people stay
in a stock that has gone up for too long, thinking that the price
appreciation will continue indefinitely. Be wise! Lock in profits.
Remember the old adage that &quot;you never go broke by taking
profits&quot;. A 10% gain is probably a good place to start locking
in profits. You can always come back and buy again.</P>

<P>Here is another important point. Know
what you want to be! a trader or an investor! If you are an investor,
you should not be bothered by a normal price fluctuation in a
stock price. Your time horizon is longer than a trader. If you
are a trader, you are working on a very short time period. You
should take your gains and losses at the end of your previously
designated time period whether it is a day or a week. The worst
thing that one can do is to be a trader/investor. The latter type
people, usually do not take their profits when they have them.
Instead, they register their losses when a stock that they had
bought goes down. Be disciplined!</P>

</span>


