@{
    ViewBag.Title = "Stockwinners Membership Policy – Boost Your Stock Market Returns using our site";
}
@section Description
{
    <meta name="description" content="Boost your stock market returns using Stockwinners.com Method, Follow our trades in real time" />
}
@section Keywords
{
    <meta name="keywords" content="stocks, stock, option, put, call, options , rumors, technical analysis, hot stock tips, daily picks,stock rumors, investment " />
}
<h2>Membership Policy</h2>

<span class="text-material-heading">Our Membership Information</span><br /><br/ />
<span class="text-material">
(Please note: submitting your membership request to Stockwinners.com indicates your acceptance of these policies.)</span><br /><br />

<span class="text-material-heading">Payment Policies:</span><br /><br/ />
<span class="text-material-heading">Monthly Membership:</span>   <br /><br />

<span class="text-material">


A credit card is required for all monthly accounts. If you have a monthly membership, 
   your credit card account will be charged each month on the day of the month you joined until you notify us of cancellation.
  A minimum charge of one month's fee applies to all memberships. We accept VISA, Master Card, American Express and Discover cards.
</span><br /><br />

<span class ="text-material-heading ">Quarterly Membership:</span><br /><br />
<span class ="text-material">Accounts are prepaid on quarterly basis and may be paid by credit card or check. 
        Activation begins upon payment. Your credit card account will be charged each
         quarter on the anniversary of the day you joined. At that time, 
        you will be renewed at the then current rate, unless you notify us of cancellation.</span><br /><br />
<span class ="text-material-heading ">Cancellation Policies:</span><br /><br />

<span class ="text-material">

         To cancel your Membership, please fill out our online cancellation form. You may also call us at 972-63TRADE, e-mail it to cancel@stockwinners.com or send it via surface mail (Stockwinners.com, Inc., Attn: Customer Service, PO Box 10815; Austin, Texas 78766).
          Please be sure to provide your name, address, e-mail address, user name and password for authentication. In order to improve our service, we ask that you include the reason you want to cancel. 
         For your protection, cancellations must be received in writing. Cancellations are processed upon receipt of the cancellation request. 
         Cancellations requesting a closing statement will receive confirmation via e-mail (if an e-mail address has been provided). Cancellations will be effective as of the end of the current billing cycle.
         We cannot prorate for partial-month usage. Nor can we refund part of the subscription fee for non-usage of the service while you are an active member. Members who cancel may still receive occasional updates 
         about any advancements made to the site so that they would reconsider joining again.<br /><br />

Cancellations must be received before the first day of a billing cycle in order to take effect for that billing cycle. The date a user joins Stockwinners.com determines the user's billing cycle. (For example,
  if you join on November 4, the first day of your billing cycle will be the fourth of each month, while the last day of your billing cycle will be the third of each month.)<br /><br />

Monthly Membership: If a Member cancels within the first month, the minimum fee of $45 will be billed to the account. This fee applies to all memberships. There will be no refunds for memberships.<br /><br />

We offer a free trial membership with all the privilages of the web site. Because of this, we do not offer refunds. If you cancel your membership, your membership will end at the conclusion of your paid period. <br /><br />

The trading of securities may not be suitable for all potential users of the Service. You should be aware of the risks inherent in the stock market. Past performance does not guarantee or imply future success. You cannot assume that 
 profits or gains will be realized or that any recommendation made by the Service will be profitable. The purchase of securities discussed by the Service may result in the loss of some or all of any investment made. We recommend that 
 you consult a stockbroker or financial advisor before buying or selling securities, or making any investment decisions. You assume the entire cost and risk of any investing and/or trading you choose to undertake.<br /><br />

All information provided by the Service is obtained from sources believed to be accurate and reliable. However, due to the number of sources from which information on the Service is obtained, and the inherent hazards of electronic distribution, 
there may be delays, omissions, or inaccuracies in such information. WE DO NOT WARRANT THE ACCURACY, COMPLETENESS, CURRENTNESS, MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE OF THE INFORMATION AVAILABLE THROUGH THE SERVICE.<br /><br />

</span>

<span class ="text-material-heading ">Auto Trading:</span><br /><br />

<span class ="text-material">
Stockwinners.com offers auto trading via its partner EOptions. Portfolio allocation strategies and details of investments are not responsibility of Stockwinners.com; the client is expected to specify his/her preferences directly with EOption. Stockwinners.com will relay on behalf of the customer all stock and option selections and also all their issued updates to EOption. Stockwinners.com can't be held reliable for failure of notification delivery or lack of reaction by EOption. Please refer to EOption's policy for further information on auto-trading.
</span>