@{
    ViewBag.Title = "Privacy Policy";
}
<h2>Privacy Policy</h2><br />

<span class="text-material-heading">Use of Information</span><br /><br/ />

<span class="text-material">
 Any information you provide to us is maintained and accessible only by Stockwinners.com, LLC. We may use this information to offer you the opportunity to receive additional services from Stockwinners.com. We shall not use the collected information other than to send you notices regarding updates to the service. Stockwinners 
    uses the information only to offer you the opportunity to receive Stockwinners notices regarding other Stockwinners products or services and to further personalize your Stockwinners experience. We may use only the anonymous click stream data to help our advertisers deliver better targeted advertisements. Stockwinners will 
    not disclose any information about any individual user except to comply with applicable law or valid legal process or to protect the personal safety of our users or the public.</span><br /><br />


<span class="text-material-heading">Sharing of Information</span><br /><br/ />
<span class="text-material">
The individually identifiable information that you provide will be used only by Stockwinners to provide a personalized experience to you.

Except as described in this privacy policy, Stockwinners will never willfully disclose individually identifiable information about its users to anyone outside of our service providers (see below) or the Stockwinners Network without first receiving that users permission, preventing this information from appearing in unauthorized mailings and other solicitations.

Any information you submit when purchasing Stockwinners services is shared with the companies that process your order. AuthorizeNet.com processes our credit card orders. As Stockwinners expands its e-commerce offerings and strategy, Stockwinners’ use of the information submitted by you may change, although the sharing of information will not. 
    Stockwinners will continue to share the information with the companies that process your order and ship you the goods, such as FedEx or UPS.<span></span><br /><br />

<span class="text-material-heading">Delete/Delist</span><br /><br/ />
<span class="text-material">
It is not currently possible for a Stockwinners customer to delete his or her information from the database. However, at any time you may request to be removed from our database and we will honor such a request. You may send e-mail to info@Stockwinners.com for this request. You may also send us mail at P.O. Box 10815; Austin, Texas 78766 USA

Any modifications to this policy will be posted in this space. We welcome any questions or comments you have; please direct them to info@stockwinners.com.
