@{
    ViewBag.Title = "Reset Password";
}
<h2>Reset Password</h2>
@if (ViewBag.InvalidEmail)
{
    @Html.ErrorMessage("The email address you have provided does not match with our records. Please note that you can only reset the password of a membership account created at Stockwinners.com; If you use a third party login provider such as Google or Facebook and have forgotten your password, you need to reset your password on the login provider's website.")
}
@if (ViewBag.SuccessfulChange)
{
    @Html.SuccessMessage("Your password has been successfully reset. Please check your email for instructions on how to log in.")
}
<p>Please enter your email address below and we'll email you a new password.</p>
@using (Html.BeginForm("ResetPassword", "Account"))
{
    <div><label>Email Address:</label></div>
    <div>@Html.TextBox("emailAddress")</div>
    <div style="text-align: right;"><input type="submit" value="Reset Password" /></div>
}