@model WebSite.Models.User
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<p>Dear @Model.FirstName</p>
<p>Our attempt to process your subscription payment has failed. We would like to encourage you to @Html.ActionLink("update your payment information", "UpdateSubscription", "Members") to continue using Stockwinners.com services.</p>
<p>We value your continued business.</p>
<p>Stockwinners.com</p>