@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
Dear Fellow Investor,<br /><br />
Your two week free trial membership to Stockwinners.com is now over. We would like to thank you for trying out the service and invite you to become a paid member.<br /><br />
In the past two weeks, you have had access to Stockwinners.com's Active Traders where the latest market news, brokers' upgrades/downgrades, option actions, IPO information, review of financial publications and much more are delivered in real time. Our Market Alerts have kept you up-to-date in the actions in the market that required your attention. You have also seen our winning stock and option picks where hopefully you have had an opportunity to make some money in the market using these selections. Whether you are a seasoned investors or a novice one, we believe you will benefit from Stockwinners.com membership. To become a paid member, please <a href="http://www.stockwinners.com/members">click here</a>.
<br /><br />
Thank you for your time and your patronage.
<br /><br />
Best regards,
<br />
Stockwinners.com Management Team