@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<p>Dear Fellow Investor,</p>
<p>Welcome to Stockwinners.com, one of the oldest stock advisory sites on the web. We are delighted that you
 have elected to sign up for a 2-week free trial membership, and hope you will find the service beneficial
 and profitable to you. Before you start using the site, there are a few pointers that you should be aware of.</p>
<ul>
<li>Before making any trade using our information, become familiar with our site and philosophy. Only paper trade
 at the beginning. Be precise and detailed about your paper trades, and pretend that you are using real money.
 Keep track of your profits and losses, and be honest about them. </li>
<li>Our picks have a 1-30 days outlook. Our target price is 10% above your entry position. Our stop losses are
 set 5% below buying prices. If you elect to stay in a position once the 10% upside has been achieved, 
adjust your stop-loss upward to protect your gains. Remember the old adage in the market:
 "Bulls make money, Bears make money but Pigs gets slaughtered." Do not be a pig!
 You have worked hard for your money. Treat it with respect. </li>
<li>Never place a market order, always use a limit order. Note that market orders cannot be canceled even if 
they have not been executed yet. Open markets are the merci of market-makers. If you really want to buy a 
security, place a limit order at or a penny above the trading price. Remember that no trade is better
 than a bad trade. Do not chase a stock. Be disciplined, if you missed a trade, there is always the next one. </li>
<li>Never buy at the open. Experience shows us that markets are usually more volatile within the first
 30-60 minutes following the opening bell. After this window may be a good time to establish a position</li>
<li>Beware of market conditions. In this instant news era, equities and options move rather quickly. 
Use our Active Traders section to stay abreast of market conditions. </li>
<li>You will receive two daily e-mail Market Alerts from us. They come from noreply@stockwinners.com.
 If you are using a SPAM filter, be sure to allow e-mails from this address. Our first Market Alert
 is sent before the market opens while the second one is sent mid-way through the trading day.</li>
<li>You will also receive our stock and option picks via email. Please note that we don’t offer option 
picks on a regular cadence. Our option picks are published as we recognize money making opportunities,
 which typically translates into one or more pick a week. You will be also notified via email when a pick is closed so that you can easily clone our trades if you so desire.</li>
<li>You have total control over the types of emails you receive from us. Be sure to check out the members section to change your notification settings.</li>
<li>After your trial membership ends, you will receive an invitation to become a paid member. 
This is the only e-mail that you will receive from us following your trial membership. 
Please note that trial memberships may not be canceled. If you do not find the service useful,
 you may change your notification settings to not receive email alerts. Once your 2-week trial
 membership is over, you will not receive any e-mails from us. </li>
<li>Stockwinners.com is not a licensed broker or financial advisor. Before making any trades,
 please consult your financial advisor. Past performance is no guarantee of future results. </li>
</ul>

<P>Now to the real fun stuff:</P>
  <ul>
<li>We use technical analysis as well as fundamental analysis to recommend equities and options. 
You will see different chart patterns mentioned in our picks. Click on the highlighted term to get
 a definition of those charts patterns. </li>
<li>We do not feature stocks that are less than $5 nor do we recommend low float stocks that will move 
due to our recommendations.</li>
<li>We feature various types of stock picks such as Momentum or Rumor entries. Please read the write up carefully.
 All of our picks are solid companies. We do not feature speculative stocks.</li> </ul>
<p>
Happy Trading!<br />
Stockwinners.com</p>