@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<h2>Error</h2>
@Html.ErrorMessage("Unfortunately, our website has misbehaved. We are sorry for the inconvenience. A log of the error has been sent to our technicians who will be looking into resolving the issue as soon as possible.")
Please refresh the page in a few moments or browse back to the <a href="/">homepage</a>.