@{
    ViewBag.Title = "Investment Advice";
}
@section Description
{
    <meta name="description" content="Stockwinners.com is a stock and option advisory service. Our subscription system allows traders to clone our trades in real-time and reap the rewards." />
}
@section Styles
{
}
@section UnpaddedContent
{
<div style="height: 475px;"><img src="~/Images/Home/Homepage_01.jpg" style="padding: 0px; border: none; margin: 0px;"/></div>
<div style="height: 56px;"><a href="@Url.Action("ProductsAndServices", "Information")"><img src="~/Images/Home/Homepage_02.jpg" style="padding: 0px; border: none; margin: 0px;"/></a></div>
<div style="height: 38px;"><img src="~/Images/Home/Homepage_03.jpg" style="padding: 0px; border: none; margin: 0px;"/></div>
<div style="height: 56px;"><a href="@Url.Action("PhilosophyAndPerformance", "Information")"><img src="~/Images/Home/Homepage_04.jpg" style="padding: 0px; border: none; margin: 0px;"/></a></div>
<div style="height: 15px;"><img src="~/Images/Home/Homepage_05.jpg" style="padding: 0px; border: none; margin: 0px;"/></div>
}