@{
    ViewBag.Title = "Investment Advice";
}
@section Description
{
    <meta name="description" content="Stockwinners.com is a stock and option advisory service. Our subscription system allows traders to clone our trades in real-time and reap the rewards." />
}
@section Styles
{
    <style type="text/css">
        .choice
        {
            margin: 0px auto;
            width: 50px;
            height: 50px;
        }

        .selected
        {
            background-color: #c12222;
        }

        .not-selected
        {
            background-color: #4a9ce1;
        }

            .not-selected:hover
            {
                background-color: #1b63a0;
                transition: background-color 0.3s ease-in;
                -webkit-transition: background-color 0.3s ease-in;  
                -moz-transition: background-color 0.3s ease-in;  
                -o-transition: background-color 0.3s ease-in;  
            }

        .slide-1
        {
        }
    </style>
}
@section Scripts
{
    <script type="text/javascript">
        var hourLevel = 0;
        var skillLevel = 0;

        $(function ()
        {
            $(".choice").click(function ()
            {
                // Set time spent on the market
                if (this.getAttribute("data-type") == "hour")
                {
                    hourLevel = this.getAttribute("data-value");
                }

                // Set skill level
                if (this.getAttribute("data-type") == "skill")
                {
                    skillLevel = this.getAttribute("data-value");
                }

                // Change color to show the value has been chosen
                $('.choice[data-type="' + this.getAttribute("data-type") + '"]').addClass("not-selected").removeClass("selected");
                $(this).removeClass("not-selected").addClass("selected");

                // If both value have been seleted, transition onto the next page
                if (hourLevel != 0 && skillLevel != 0)
                {
                    $(".slide-1").hide('fast');
                }
            });
        });
    </script>
}
<table style="width: 100%;">
    <tr class="slide-1">
        <td style="width: 100%; font-size: 23pt; font-weight: 400; text-align: center;">Stocks and Options Advisory Service for Modern Day Traders</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center;">
            <img src="~/Images/Home/big-logo.png" /></td>
    </tr>
    <tr>
        <td style="width: 100%;" class="slide-1">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%; font-size: 23pt; font-weight: 400; text-align: center; vertical-align: top;">How many hours a day on average do you monitor the market?
                    </td>
                    <td style="width: 50%; font-size: 23pt; font-weight: 400; text-align: center; vertical-align: top;">What is your skill level in the market?
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%; font-size: 14pt; font-weight: 400; text-align: center;">
                        <table style="width: 70%; margin: 0px auto;">
                            <tr>
                                <td style="width: 12%;">
                                    <div class="choice not-selected" data-type="hour" data-value="1"></div>
                                </td>
                                <td style="width: 13%;">
                                    <div class="choice not-selected" data-type="hour" data-value="2"></div>
                                </td>
                                <td style="width: 12%;">
                                    <div class="choice not-selected" data-type="hour" data-value="3"></div>
                                </td>
                                <td style="width: 13%;">
                                    <div class="choice not-selected" data-type="hour" data-value="4"></div>
                                </td>
                                <td style="width: 12%;">
                                    <div class="choice not-selected" data-type="hour" data-value="5"></div>
                                </td>
                                <td style="width: 13%;">
                                    <div class="choice not-selected" data-type="hour" data-value="6"></div>
                                </td>
                                <td style="width: 12%;">
                                    <div class="choice not-selected" data-type="hour" data-value="7"></div>
                                </td>
                                <td style="width: 13%;">
                                    <div class="choice not-selected" data-type="hour" data-value="8"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">1</td>
                                <td style="text-align: center;">2</td>
                                <td style="text-align: center;">3</td>
                                <td style="text-align: center;">4</td>
                                <td style="text-align: center;">5</td>
                                <td style="text-align: center;">6</td>
                                <td style="text-align: center;">7</td>
                                <td style="text-align: center;">8</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 50%; font-size: 14pt; font-weight: 400; text-align: center;">
                        <table style="width: 70%; margin: 0px auto;">
                            <tr>
                                <td style="width: 12%;">
                                    <div class="choice not-selected" data-type="skill" data-value="1"></div>
                                </td>
                                <td style="width: 13%;">
                                    <div class="choice not-selected" data-type="skill" data-value="2"></div>
                                </td>
                                <td style="width: 12%;">
                                    <div class="choice not-selected" data-type="skill" data-value="3"></div>
                                </td>
                                <td style="width: 13%;">
                                    <div class="choice not-selected" data-type="skill" data-value="4"></div>
                                </td>
                                <td style="width: 12%;">
                                    <div class="choice not-selected" data-type="skill" data-value="5"></div>
                                </td>
                                <td style="width: 13%;">
                                    <div class="choice not-selected" data-type="skill" data-value="6"></div>
                                </td>
                                <td style="width: 12%;">
                                    <div class="choice not-selected" data-type="skill" data-value="7"></div>
                                </td>
                                <td style="width: 13%;">
                                    <div class="choice not-selected" data-type="skill" data-value="8"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <table style="width: 100%; border-spacing: 0; border-collapse: collapse; padding: 0px;">
                                        <tr>
                                            <td style="width: 33%; text-align: left;">Novice
                                            </td>
                                            <td style="width: 33%; text-align: center;">Intermediate
                                            </td>
                                            <td style="width: 34%; text-align: right;">Advanced
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
