@{
    ViewBag.Title = "Welcome";
}

<table class="box-table">
	<tr>
		<td colspan="2">
			<div style="background-color:#6699FF;">
				<span class="box-heading">Philosophy &amp; Performance</span><br/>
				<span>Stockwinners.com is one of the oldest stock advisory services in the internet. We have consistently been providing winning picks since 1998! Since 2001, an average of 38% of our picks gained more than 10% in less than 10 days.</span>
			</div>
		</td>
		<td style="padding-right:10px;">
			<div style="background-color:#FF6666; height:100%;">
				<span class="box-heading">Trial Membership</span><br/>
				<span>We offer a free 2 weeks free trial membership with full access to our picks and portfolio so you can try the service free of charge. We require no credit cards and have integrated our website with Facebook and Google so that you can start your trial with a single click.</span>
			</div>			 
		</td>
	</tr>
	<tr>
		<td>
			<div style="background-color:#006666; color:white;">
				<span class="box-heading">Stock Picks</span><br/>
				<span>We provide daily stock picks based on technical analysis, news, momentum, and rumours that we scout from the market.</span>
			</div>
		</td>
		<td>
			<div style="background-color:#FFFFCC;">
				<span class="box-heading">Option Picks</span><br/>
				<span>Stockwinners.com offers weekly option picks as an alternative investment vehicle to help investors utilize equity options to define risk, enhance yields, and make effective use of leverage to reduce the initial cost of trade.</span>
			</div>			 				
		</td>
		<td style="padding-right:10px;">
			<div style="background-color:#009999;">
				<span class="box-heading">Active Traders</span><br/>
				<span>Our active traders section provides you real-time market moving news. We have extremely resourceful sources and publish market critical news before they become available elsewhere. We offer a variety of items such as upgrades/downgrades, market chatter, acquisitions, lawsuits, approvals, etc.</span>
			</div>			 					
		</td>
	</tr>
</table>
