@{
    ViewBag.Title = "Page Not Found";
}
@Html.ErrorMessage("The page you are looking for can't be found. Please double check the address of the page if you have entered it manually. Alternatively, you can start browsing from the <a href='/'>homepage</a>.")