<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    
    <!-- OAuth2 Related -->
    <add key="FacebookClientID" value="384974754900125" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="FacebookSecretKey" value="731e7e962fd4edcc67589ea87c7f6b7d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="FacebookCallbackURL" value="/authentication/facebookcallback" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GoogleClientID" value="654439467055-05rcfieuj0tndiuq4gj4mk5bs5vq1o8c.apps.googleusercontent.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GoogleSecretKey" value="7BZKoGSvotMcekKSGssITjk2" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GoogleCallbackURL" value="/authentication/googlecallback" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <!-- Authorize.NET Related -->
    <add key="AuthorizeNETAPILoginID" value="6c7bde5ca70d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AuthorizeNETTransactionKey" value="434PS4Xg95mR9twc" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <!-- Active Traders Related -->
    <add key="ActiveTradersTestingMode" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Server=tcp:h7txzroklx.database.windows.net,1433;Database=stockwinners-db;User ID=stockwinners-db-user@h7txzroklx;Password=D00nd00ni;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
         providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>